.night {
  background-color: #202264;
  color: #feefea;
}

.day {
  background-color: #feeaf9;
  color: #532781;
}

.container {
  display: inline-flex;
}

main, .sidebar {
  flex-basis: auto;
}

main {
  flex-grow: 3;
}

.sidebar {
  flex-grow: 1;
  margin: 15px;
}

.row {
  display: flex;
  margin: 0 -5px;
}
.column {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 5px;
}

.columns2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

button {
  width: 100%;
  height: 100%;
}

.game-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.game-gallery > .game-container {
  flex-basis: calc(33.33333333333% - 20px);
  margin: 5px;
}

.game-container > img {
  width: 100%;
}

.game-container {
border:1px solid black;
}

.buttonStrong {
  font-size: 24px;
  font-weight: bold;
}

.buttonMain {
  font-size: 12px;
}
